//// Color Defintions
// Vibrant Colors
@red: #bf1e2e;
@yellow: #ffde16;
@green: #0b9444;
@blue: #25aae1;

// Soft Colors
@pale-red:    #ea6671;
@pale-yellow: #fee35e;
@pale-blue: #6abbfa;
@pale-green: #6bb97d;

// Greyscale Colors
@black: #000;
@darkest-gray: #222;
@darker-gray: #444;
@dark-gray: #777;
@gray: #bbb;
@light-gray: #ddd;
@lighter-gray: #eee;
@lightest-gray: #f7f7f7;
@white: #fff;

//// Color Class Mixins.

// Vibrant Colors
.red{background-color:@red;}
.yellow{background-color:@yellow;}
.blue{background-color:@blue;}
.green{background-color:@green;}

// Soft Colors
.pale-red{background-color:@pale-red;}
.pale-yellow{background-color:@pale-yellow;}
.pale-blue{background-color:@pale-blue;}
.pale-green{background-color:@pale-green;}

// Greyscale Colors
.black{background-color:@black;}
.darkest-gray{background-color:@darkest-gray;}
.darker-gray{background-color:@darker-gray;}
.dark-gray{background-color:@dark-gray;}
.gray{background-color:@gray;}
.light-gray{background-color:@light-gray;}
.lighter-gray{background-color:@lighter-gray;}
.lightest-gray{background-color:@lightest-gray;}
.white{background-color:@white;}
